<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>導覽列/頁尾</title>
</head>
<body>
    <!-- 定義標題及導覽列 Fragment -->
    <!--header標題區塊-->
    <header th:fragment="header" class="navbar">
        <a th:href="@{/home}" class="logo" style="text-decoration: none; color: inherit">  <!--div表示一個區塊-->
            <img th:src="@{/images/logo.png}" alt="網頁logo" class="logo-img-placeholder">  <!--img表示圖片-->
            <div class="logo-text"> <!--另一個區塊-->
                <span class="brand-en">QuickCook</span>  <!--span表示行內元素-->
                <span class="brand-zh">快速料理小幫手</span>   <!--span表示行內元素-->
            </div>
        </div>

        <!--nav導航列 & 表單連結集合,在header裡-->
        <nav>
            <ul name="navbar" class="nav-ul">  <!--ul表示無序列表-->
                <li><a th:href="@{/recipe}" class="nav-link">探索食譜</a></li>  <!--a表示超連結,點擊會進入另一個網頁-->

                <th:block th:if="${session.loggedInUser} == null">
                    <li><a href="#" onclick="alert('哈囉！請先登入才能查看「我的收藏」喔！'); return false;" class="nav-link">我的收藏</a></li>  <!--a表示超連結,點擊會進入另一個網頁-->
                </th:block>
                <th:block th:unless="${session.loggedInUser} == null">
                    <li><a th:href="@{/favorite}" class="nav-link">我的收藏</a></li>  <!--a表示超連結,點擊會進入另一個網頁-->
                </th:block>

                <th:block th:if="${session.loggedInUser} == null">
                    <li><a href="#" onclick="alert('哈囉！請先登入才能使用「DIY食譜管理」喔！'); return false;" class="nav-link">DIY食譜管理</a></li>  <!--a表示超連結,點擊會進入另一個網頁-->
                </th:block>
                <th:block th:unless="${session.loggedInUser} == null" >
                    <li><a th:href="@{/diy}" class="nav-link">DIY食譜管理</a></li>  <!--a表示超連結,點擊會進入另一個網頁-->
                </th:block>

                <th:block th:if="${session.loggedInUser == 'admin123'}">
                    <li>
                        <a th:href="@{/admin/dashboard}" class="nav-link">後台管理系統</a>
                    </li>
                    </th:block>

                <th:block th:unless="${session.loggedInUser == 'admin123'}">
                    <li>
                        <a href="#" onclick="alert('哈囉！你沒有「系統管理員」權限喔！'); return false;" class="nav-link">
                        後台管理系統
                        </a>
                    </li>
                </th:block>
                
            </ul>
        </nav>

        <div class="user-area">
            <th:block th:if="${session.loggedInUser == null}">
                <img th:src="@{/images/user.png}" alt="登入小人頭圖示" class="user-img"> 
                <a th:href="@{/login}" class="user-login">登錄 / 註冊</a> 
            </th:block>

            <th:block th:unless="${session.loggedInUser == null}">
                <span class="user-greeting" th:text="|嗨！${session.loggedInUser}|">嗨！使用者</span>
                <a th:href="@{/logout}" class="user-logout" onclick="return confirm('請確認是否登出網頁？');">登出</a>
            </th:block>
        </div>

    </header>

    <!-- 定義頁尾 Fragment -->
    <footer th:fragment="footer" class="footer">
        <p class="footer-text">© 2026 快速料理小幫手 - 版權所有 ©</p>
    </footer>
</body>
</html>