<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>會員登入 - 快速料理小幫手</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/auth.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico?v=1}">

</head>
<body>

    <div th:replace="~{layout/fragments :: header}"></div>

    <main class="login-container">
        <div class="login-card">
            <h2 class="user-lonin-h2">會員登入</h2>

            <div th:if="${errorMsg}" th:text="${errorMsg}" class="error-msg"></div>
            <div th:if="${successMsg}" th:text="${successMsg}" class="succsee-msg"></div>

            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="username">帳號</label>
                    <input type="text" id="username" name="username" class="form-input" placeholder="請輸入帳號" required>
                </div>

                <div class="form-group">
                    <label for="password">密碼</label>
                    <input type="password" id="password" name="password" class="form-input" placeholder="請輸入密碼" required>
                </div>

                <button type="submit" class="btn-login">登入</button>
            </form>
            
            <p class="no-account">還沒有帳號嗎？ 
                <a th:href="@{/register}" class="register-now">立即註冊</a>
            </p>
        </div>
    </main>

    <div th:replace="~{layout/fragments :: footer}"></div>

</body>
</html>